# Exclude pattern for Docker context
**/.ccache
**/.dcache
**/.config**
**/grav_data/**
**/.vscode
**/.idea
**/.DS_store
**/node_modules
**/*.org

# Exclude pattern only in .dockerignore
**/.gitkeep

# Include pattern only in .dockerignore
