# Exclude pattern for GitHub context
**/.ccache
**/.dcache
**/.config**
**/grav_data/**
**/.vscode
**/.DS_store
**/node_modules
**/*.org

# Exclude pattern only in .gitignore
**/*.c
**/*_rsa**
**/*key
**/*zip
