# Exclude pattern for GitHub context
**/.aptcache
**/.apkcache
**/.ccache
**/.dcache
**/.gocache
**/.pycache
**/.config**
**/grav_data/**
**/.vscode
**/.idea
**/.DS_store
**/node_modules
**/*.org

# Exclude pattern only in .gitignore
**/*.c
**/*_rsa**
**/*key
**/*zip

# Include pattern only in .gitignore
!grav_cache/.gitkeep
!grav_cfg/.gitkeep
!grav_data/.gitkeep 
!grav_key/.gitkeep
!grav_rootfs/.gitkeep